* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

dialog {
  margin: 10vh auto;
  border: 2px solid black;
  outline: none;
  padding: 25px;

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    button {
      color: white;
      border: none;
      outline: none;
      align-self: center;
      border-radius: 4px;
      flex: 1 0 0;
      height: 37px;
    }

    .add-book-btn {
      background-color: darkgreen;
    }

    .cancel-btn {
      background-color: darkred;
    }

    .buttons-control {
      display: flex;
      gap: 10px;
    }
  }

  .form-control {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .checkbox-control {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;

  }


}

header, main {
  padding: 0 25%;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  background: rgb(224, 236, 205);
  & button {
    padding: 0 10px;
    color: white;
    background-color: darkgreen;
    border: none;
    outline: none;
    border-radius: 4px;
  }
}

.book button {
  background-color: rgb(224, 236, 205);
}

.book {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  border: 2px solid black;
  border-radius: 13px;
  &.read {
    background-color: rgb(224, 236, 205);
  }
}

main {
  padding-top: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 185px);
  justify-content: center;
  gap: 25px;
}

.buttons-container {
  display: flex;
  width: 100%;
  gap: 8px;
  button {
    flex: 1 0 0;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 4px;
  }

  .delete-button {
    background-color: darkred;
    color: white;
  }

  .toggle-read-button {
    background-color: white;
  }
}

.book.read .toggle-read-button {
  background-color: white;
}

.book:not(.read) .toggle-read-button {
  background-color: rgb(224, 236, 205);
}